.experience-info {
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 359px;
}

.experience-info__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    
}

.experience-info__list-item.selected {
    color: #fff;
    background: #28D979;
}

.experience-info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info_period {
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__label {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    line-height: 155%;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 59px;
}

.experience-info__content {
    display: flex;
    justify-content: space-between;
}

.experience-info__job {
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info__job-bottom {
    display: flex;
    align-items: center;
    gap: 6px;
}

.experience-info__list-item.selected .experience-info__job-bottom{
    color: #EBF9F2;

}

.experience-info__job-name,
.experience-info__job-time {
    font-size: 8px;
    line-height: 150%;
}

.experience-info__responsibility-list {
    width: 239px;
}

.experience-info__responsibility-list-item {
    font-size: 8px;
    line-height: 150%;
}